.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, var(--primary-color));
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.header__navbar-items {
    display: block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
    font-weight: 300;
}

.header__navbar-word {
    font-weight: 300;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
    cursor: pointer;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 4px 0 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    font-size: 1.6rem;
    font-weight: 550;
    color: var(--white-color);
    margin-left: 6px;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    list-style: none;
    font-family: sans-serif;
    background-color: var(--white-color);
    position: absolute;
    z-index: 1;
    top: 100%;
    padding: 0;
    right: 0;
    width: 160px;
    box-shadow: 0 2px 10px #ccc;
    border-radius: 2px;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    border-width: 14px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 3px;
    top: -22px;
    cursor: pointer;
}

.header__navbar-user-list {
    padding: 8px 0 6px 0;
}

.header__navbar-user-menu-item {
    text-align: center;
    list-style: none;
}

.header__navbar-user-menu-item:hover {
    background-color: rgb(245, 245, 245);
}

.header__navbar-user-menu-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    width: 100%;
    padding: 10px 20px;
}

.header__navbar-items-qr:hover .header__qr {
    display: block;
}

.header__navbar-items, .header__navbar-items-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 100;
}

.header__navbar-sperate {
    height: 16px;
    border-left: 1px solid #fc8277;
    margin: 8px 6px 0 6px;
}

.header__navbar-items:hover, 
.header__navbar-items-link:hover, 
.header__navbar-icon:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-items--strong {
    font-weight: 700;
}

.header__navbar-icon-link {
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 2px;
}

.no-click {
    cursor: text;
    color: var(--white-color);
}

.header__qr {
    width: 175px;
    /* border: 1px solid rgba(180, 145, 79, 0.5); */
    background-color: var(--white-color);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    padding: 0px;
    border-radius: 2px;
    display: none;
    animation: fadein ease-in 0.2s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


.header__qr-img {
    width: 100%;
}

.header__qr-app {
    display: flex;
    justify-content: space-between;
    
}

.image1 {
    margin-left: 20px;
    width: 60px;
}

.image2 {
    margin-right: 20px;
    width: 60px;
}

.header__navbar-items--notify:hover .header__notify {
    display: block;
}

.header__notify {
    position: absolute;
    width: 404px;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    transform-origin: calc(100% - 20px) top;
    animation: HeaderNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
    border-radius: 2px;
}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -2px;
    top: -29px;
}

@keyframes  HeaderNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: text;
}

.header__notify-header h3 {
     color: blue;
     font-weight: 500;
     margin: 0 0 0 12px;
     font-size: 1.6rem;
     line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
    max-height: 250px;
    height: 40vh;
    overflow-y: auto;
}

.header__notify-link {
    display: flex;
    padding: 12px 10px;
    background-color: beige;
    text-decoration: none;
    /* border: 1px solid var(--white-color); */
    box-sizing: border-box;
}

.header__notify-link:hover {
    background-color: rgb(245, 245, 245);
}

.header__notify-link span {
    display: flex;
    align-items: center;
}

.header__notify-img {
   width: 34px;
   height: 34px;
}

.header__notify-info {
   margin-left: 12px;
   color: rgb(30, 30, 30);
}

.header__notify-name {
    display: block;
    font-weight: 550;
    font-size: 1.5rem;
    line-height: 1.6rem;
}

.header__notify-discription {
    font-size: 1.1rem;
    color: dimgrey;
    line-height: 1.6rem;
    margin-top: 6px;
}

.header__notify-footer {
   display: flex;
   
}

.header__notify-footer-btn {
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-weight: 500;
}

.header__notify-footer-btn:hover {
    color: rgba(125, 105, 105, 0.7);
}

.modal {
    display: none;
    z-index: 6;
}

.open-modal {
    display: flex;

}

.open-auth-form {
    display: block !important;
}

/*athen modal*/
.auth_form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.auth_form-container {
    padding: 0 32px;
}

.auth__form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    padding-top: 10px;
}

.auth_form-heading {
    font-size: 2.2rem;
    font-weight: 700;
}

.auth_form-swith--btn {
    font-size: 1.6rem;
    color: orangered;
    font-weight: 700;
    cursor: pointer;
}

.auth_form-form {
    margin-top: 8px;
}

.auth_form-group {
    position: relative;
    padding: 5px 0;
}

.eye-password {
    position: absolute;
    top: 21px;
    right: 8px;
    color: #999;
    display: none;
}

.eye-password:hover {
    color: #666;
}

.auth_form-input {
    height: 40px;
    width: 100%;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth_form-input:focus {
    color: #777;
}

.outh_form-aside {
    margin-top: 18px;
}

.outh_form-policy--text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth_form-policy--link {
    font-size: 1.5rem;
    color: rgb(193, 98, 98);
}

.auth_form-control {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}


.auth_form-control--back {
    margin-right: 8px;
}

.btn--primary:hover {
    background-color: #d94012;
}

.auth_form--socials {
   background-color: #f5f5f5;
   padding: 16px 36px;
   display: flex;
   justify-content: space-between;
   margin-top: 16px;
}

.auth_form--socials-facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth_form--socials-facebook
.btn_with--icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

.auth_form-google--svg {
    width: 30px;
    height: 30px;
}

.auth_form--socials-title {
    margin: 0 30px;
    font-size: 1.2rem;
}

.auth_form--socials-google {
    background-color: var(--white-color);
    color: #666;
    font-weight: 500;
}

.auth_form--socials-google
.btn_with--icon {
    font-size: 1.6rem;
}

.auth_form--socials-title_google {
    font-weight: 600;
}

.outh_form-help {
    display: flex;
    justify-content: flex-end;
}

.outh_form-help--link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #5b5959;
}

.outh_form-help--separate {
    display: block;
    height: 18px;
    border-left: 1px solid #EAEAEA;
    margin: 0 12px;
}

.outh_form-help--forgot {
    color: var(--primary-color);
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 150px;
}

.header-logo--svg {
    /* background-color: var(--white-color); */
    height: 65px;
    width: 65px;
}

.header-search {
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
    height: 40px;
    display: flex;
    align-items: center;
}

.header-cart {
    width: 150px;
    text-align: center;
    font-size: 2.6rem;
}

.header-cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header-cart-icon {
    margin-top: 5px;
    color: var(--white-color);
}

.header-cart-notice {
    position: absolute;
    font-size: 1.2rem;
    font-weight: 550;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px solid #f21515;
    padding: 2px 3px;
    line-height: 0.7rem;
    right: -2px;
    /* margin-bottom: 0; */
}

.header-cart-list {
    position: absolute;
    /* padding: 12px 0; */
    top: calc(100% + 6px);
    right: -4px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    cursor: default;
    animation: fadein ease 0.3s;
    z-index: 1;
    display: none;
}

.header__cart-heading {
    font-size: 1.4rem;
    text-align: left;
    color: #999;
    margin: 0;
    padding: 10px 0 12px 12px;
    font-weight: 400;
}

.header__cart-list-item {
    padding: 8px 0 16px 0;
    list-style: none;
    margin: 0 12px 0 12px;
    max-height: 30vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    padding: 6px 0 6px 0;
    align-items: center;
}

.header__cart-item:hover {
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}

.header__cart-item-img {
    width: 42px;
    height: 42px;
    margin: 0 12px 0 0;
    border-radius: 2px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
   width: 100%;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2rem;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 550;
    margin: 0;
    line-height: 1.7rem;
    max-height: 3.4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.5rem;
    color: #f21515;
}

.header__cart-item-multiply {
    font-size: 1.1rem;
    color: #757575;
}

.header__cart-item-quality {
    font-size: 1.25rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
}

.header__cart-item-description {
    font-size: 1.2rem;
    color: #666;
    ine-height: 2rem;
    height: 2rem;
    overflow: hidden;
    /* margin-right: 65px; */
    padding-right: 60px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__cart-item-remove {
    font-size: 2rem;
}

.header__cart-item-remove:hover {
    color: #f21515;
    cursor: pointer;
}

.header__cart-view-btn {
    display: block;
    float: right;
    width: 120px;
    font-size: 1.4rem;
    background-color: rgb(212, 60, 22);
    color: var(--white-color);
    /* padding: 12px 0; */
    margin: 0 12px 8px 0;
    border-radius: 2px;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
}

.header__cart-view-btn:hover {
    background-color: #f3584a;
}

.header-cart-list::before {
    content: "";
    position: absolute;
    border-width: 14px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 3px;
    top: -22px;
    cursor: pointer;
}

.header-cart-wrap:hover .header-cart-list {
    display: block;
}

.header-cart-list-empty-cart {
    padding: 12px 0;
    
}

.header-cart-list-empty-cart .header__empty-cart--img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__empty-cart--img {
    width: 40%;
    padding: 20px 0;
    display: none;
}

.header-search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header-search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.45rem;
    padding: 0 12px;
    border-radius: 2px;
}

.header-search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 12px;
    /* cursor: pointer; */
    position: relative;
}

.header-search-select-lable{
    font-size: 1.4rem;
    font-weight: 500;
    /* position: relative; */
}

.header-search-select-icon{
    color: #4A4A4A;
    margin: 0 8px; 
    font-size: 1.4rem;
    /* position: relative; */
}

.header-search-btn {
    background-color: var(--primary-color);
    border: none;
    font-size: 1.4rem;
    margin-right: 1px;
    border-radius: 2px;
    cursor: pointer;
    height: 36px;
    width: 50px;
    outline: none;
}

.header-search-btn:hover {
    background-color: #f3584a;
}

.header-search-btn i {
    color: var(--white-color);
}

.header-search-select:hover .header-search-option {
    display: block;
}

.header-search-option {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: calc(100% - 2px);
    /* padding-top: 5px; */
    list-style: none;
    width: 120px;
    padding-left: 0;
    margin: 15px 0 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px #ccc;
    display: none;
    animation: fadein ease-in 0.2s;
    z-index: 1;
}

.header-search-option::before {
    content: "";
    position: absolute;
    display: block;
    height: 15px;
    width: 100%;
    top: -15px;
}

.header-search-option-item {
    background-color: var(--white-color);
    font-size: 1.4rem;
    padding-left: 8px;
    font-weight: 500;
    line-height: 3rem;
    cursor: pointer;
}
.header-search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header-search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header-search-option-item:hover {
    background-color: #fafafa;
} 

.header-search-option-item span {
    margin-left: 8px;
}

.header-search-check {
    font-size: 1.2rem;
    color: red;
    margin-left: 8px;
    /* margin-right: 6px; */
}

.header-search-option-item i {
    display: none;
}

.header-search-option-item--active i{
    display: inline-block;
}

.header-search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(159, 159, 159);
    overflow: hidden;
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    font-size: 1.4rem;
    color: #999;
    margin: 6px 12px;
    font-weight: 400;
}
.header__search-history-list {
    padding-left: 0;
    margin: 6px 0 0 0;
    list-style: none;
    font-size: 1.4rem;
   
}
.header__search-history-item {
    height: 30px;
    padding: 0 12px;
}

.header__search-history-item a {
    text-decoration: none;
    color: #535252;
    line-height: 30px;
    font-weight: 400;
    display: block;
}

.header__sort-bar {
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-item-active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-link {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}


.app__container  {
    margin-top: var(--header-height);
    background-color: #F5F5F5;
}

.category  {
    background-color: var(--white-color);
    border-radius: 2px;
    margin: 0 0 16px 0;
}

.category-heading  {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 16px 0 16px 10px;
    margin: 0;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.category-list {
    list-style: none;
    padding: 8px 14px 12px 28px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.category-item {
    margin: 0;
}

.category-item_active .category-item_link {
    color: var(--primary-color);
}

/* .category-item_active .category-item_link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -6px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(calc(50% - 7px));
} */

.category-item_link {
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(33, 33, 33);
    display: block;
    padding: 6px 0;
    right: 0;
    transition: right linear 0.1s;
}

.category-item_link:hover {
    right: -4px;
    color: var(--primary-color);
}

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
}

.home-filter-lable {
    font-size: 1.4rem;
    color: #555;
    margin-right: 12px;
    display: flex;
}

.home-filter-btn {
    margin-right: 12px;
    min-width: 90px;
    width: 138px;
    padding: 0;
}

.home-filter_page {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.home-filter_page-number {
    font-size: 1.4rem;
    margin-right: 22px;
}

.home-filter_page-number-current {
    color: var(--primary-color);
}

.home-filter_page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter_page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter_page-btn-disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter_page-btn-disabled i {
    color: #ccc;
}

.home-filter_page-btn:first-child {
    border-right: 1px solid #EEE;
}

.home-filter_page-btn i {
    margin: auto;
    font-size: 1.4rem;
}

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    color: #000;
    background: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: block;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-new {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0 10px;
}

.home-product-item__like {
    font-size: 1.3rem;

}

i.home-product-item__like-fill {
    color: #F63D30;
    display: none;
}

.home-product-item__like-liked i.home-product-item__like-fill {
    display: inline-block;
}

.home-product-item__like-liked .home-product-item__like-empty {
    display: none;
}

.home-product-item__star {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star-gold {
    color: var(--star-gold);
}

.home-product-item__sold {
    font-size: 1.4rem;
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    padding-right: 4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 550;
    line-height: 1.6rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite::before {
    content: "";
    position: absolute;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorite i {
    font-size: 0.9rem;
    margin: 0 1px 0 5px;
    font-weight: 100;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 69, 0.94);
    text-align: center;
}

.home-product-item__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-style: solid;
    border-width: 0 20px 4px;
    border-color: transparent rgba(255, 216, 69, 0.94) transparent rgba(255, 216, 69, 0.94);
}

.home-product-item__sale-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
    top: 2px;
    left: 1px;
}

.home-product-item__sale-lable {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
    bottom: -1.5px;
}

.home-product__pagination {
    margin: 48px 0 32px;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding: 36px 0 30px 0;
}

.footer__heading  {
    margin: 0;
    font-size: 1.3rem;
}

.footer-list {
    list-style: none;
    padding: 4px 0 0 1px;
}

.footer-item {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 6px 0;
}

.footer-item-link {
    text-decoration: none;
    color: #000;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer-item-link i {
    margin: 0 4px 0 2px;
    font-size: 1.6rem;
}

.footer-item-link:hover {
    color: var(--primary-color);
}

.footer-download {
    display: flex;
    margin-top: 18px;
}

.footer-download-apps {
   margin: auto 0 auto 18px;
  
}

.footer-download-apps a {
    padding: 6pxpx 6px 6px 0;
    margin: 4px 0;
}

.footer-img-qr {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(223, 223, 223);
}

.ending {
    background-color: rgb(235, 235, 235);
    margin-top: 20px;
}

.ending-address {
    margin: auto;
    padding: 16px 0 6px 0;
}

.ending-license {
    margin: auto;
    padding-bottom: 16px;
}

.ending-text {
    font-size: 1.2rem;
    font-weight: 400;
    margin: auto;
}
